* { margin:0; padding:0; }
.Footer {
  padding-bottom: 50px;
  &-moreInfo{
    &-link, &-link:active, &-link:visited, &-link:link{
      text-decoration: none;
      color: #b499d6;
      margin: 6px auto;
    }
    &-link:hover{
      text-decoration: none;
      color: #6933ad;
      font-family: 'sans-medium';
    }
    &-link{
      &-wrapper{
        margin: 10px auto;
      }
    }
  }
  &-content{
    font-family: 'sans-book';
    font-size: 0.8rem;
    color: #b499d6;
  }
  &-title{
    color: #440099;
    font-family: 'sans-semibold';
    font-size: 1rem;
    margin-bottom: 25px;
  }
  &-contact{
    &-content{
      margin: 10px auto;
      &-mailto, &-mailto:active, &-mailto:visited, &-mailto:link{
        text-decoration: none;
        color: #b499d6;
        margin: 10px auto;
      }
      &-mailto:hover{
        text-decoration: none;
        color: #6933ad;
        font-family: 'sans-medium';
      }
    }
  }
  &-connect{
    &-content{
      &-icons{
        width: 35px;
        margin-right: 10px;
        &:hover{
          opacity: 0.5;
        }
      }
    }
    &-download{
      margin-top: 30px;
      &-icons{
        width: 150px;
        margin-right: 15px;
        margin-bottom: 15px;
        &:hover{
          opacity: 0.5;
        }
      }
    }
  }
}
@media all and (max-width:992px) and (min-width:767px){
  .Footer{
    &-connect{
      &-download{
        &-icons{
          width: 120px;
        }
      }
    }
  }
}
@media all and (max-width:767px){
  .Footer{
    &-moreInfo{
      &-link{
        &-wrapper{

        }
      }
    }
    &-contact{
      &-content{
        margin: 10px auto;
      }
    }
    &-title{
      padding-top: 20px;
      margin-bottom: 15px;
    }
    &-connect{
      &-download{
        &-icons{
          width: 120px;
          margin-bottom: 25px;
        }
      }
    }
  }
}
