@import './variables.scss';

@font-face {
font-family: 'din-light';
src: url("http://d196kgo02410lt.cloudfront.net/fonts/ff_din_light.ttf") format("truetype"); }
@font-face {
font-family: 'din-medium';
src: url("http://d196kgo02410lt.cloudfront.net/fonts/ff_din_medium.ttf") format("truetype"); }

@font-face {
font-family: 'sans-light';
src: url("http://d196kgo02410lt.cloudfront.net/fonts/SharpSans-Light.otf") format("truetype"); }
@font-face {
font-family: 'sans-semibold';
src: url("http://d196kgo02410lt.cloudfront.net/fonts/SharpSans_Semibold.otf") format("truetype"); }
@font-face {
font-family: 'sans-medium';
src: url("http://d196kgo02410lt.cloudfront.net/fonts/Sharp+Sans+No1+-+Medium.otf") format("truetype"); }
@font-face {
font-family: 'sans-book';
src: url("http://d196kgo02410lt.cloudfront.net/fonts/Sharp+Sans+No1+-+Book.otf") format("truetype"); }
@font-face {
font-family: "sans-bold";
src: url("http://d196kgo02410lt.cloudfront.net/fonts/Sharp+Sans+No1+-+Bold.otf") format("truetype"); }
@font-face {
font-family: 'sans-italic';
src: url("http://d196kgo02410lt.cloudfront.net/fonts/Sharp+Sans+No1+-+Medium+Italic.otf") format("truetype"); }
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input:-webkit-autofill {
    background-color: #fff !important;
}
.Dekorate{
  padding: 0;
  &-color-strip{
    width: 20%;
    padding: 0;
    height: 5px;
    display: inline-block;
    &-wrapper{
      font-size: 0;
    }
    &.yellow{
      background-color: $yellow;
    }
    &.red{
      background-color: $red;
    }
    &.violet{
      background-color: $violet;
    }
    &.green{
      background-color: $green;
    }
    &.blue{
      background-color: $blue;
    }
  }
}
.Header {
  height:80px;
  padding: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 200;
  background-color: rgba(255,255,255,0.6);
  &-brand{
    height: 50px;
  }
  .row{
    padding: 15px 0;
    height: 80px;
    box-sizing: border-box;
    margin: 0;
  }
  &-logo{
    height:100%;
    margin-left: 35px;
  }
  &-border{
    height: 5px;
    width: 100%;
  }
}

.PreviousDesigns{
  height: 550px;
}
